ADMIN_USER=admin
ADMIN_PASSWORD_BCRYPT="$2b$12$h3fDgMGwW3XmImZBMJ6IVuZA68IVKfCTE8/0f3nRZFepIm21hLVve"
RUNAS_USER=jarvis
SECRET_KEY="CHANGE_ME"
JWT_SECRET="CHANGE_ME"
# REDIS_URL=redis://127.0.0.1:6379/0
# MODELS_DIR=/models
# ALLOW_OPTIMIZE_APPLY=1
